@font-face {
    font-family: 'DeathStar';
    src:  url('./fonts/DeathStar.woff') format('woff');     
    font-weight: normal;
    font-style: normal;
  }
  @font-face{
    font-family: "Benton Sans";
    src: url('./fonts/bentonsans-medium-webfont.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face{
    font-family: "Benton Sans";
    src: url('./fonts/bentonsans-regular-webfont.ttf');
    font-weight: normal;
    font-style: normal;
}

$sw-font: 'DeathStar',sans-serif;
$text-font:"Benton Sans",sans-serif;
$sw-color:#F6DF20;