header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    grid-area: header;
    
    h1{
        color:$sw-color;
        font-family: $sw-font;
        font-weight: normal;
        font-size: 24px;
        display: inline-block;
        margin: 0;
    }

    .search-bar{
        display: inline-block;
       input{
           width: 250px;
           border: none;
           height: 20px;
           border-radius: 8px;
           padding-left:40px;
           background: #fff url('./images/Search.svg') no-repeat 10px center;
           background-size: 15px;
           &::placeholder{
               color:#4f4f4f;
               font-size: 12px;
               font-family: $sw-font;
           }
       }
    }
}