@import './sass_components/variables';
@import './sass_components/mixins';
@import './sass_components/header.scss';
@import './sass_components/nav.scss';
@import './sass_components/carrusel.scss';
@import './sass_components/detail-page.scss';
@import './sass_components/preloader.scss';

body{
  background: #000 url('./images/bcg.jpg');
  margin:0;
  padding:0;
  overflow: hidden;
}
.App{
  width:100%;
  height: 100vh;
  min-height: 580px;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 30px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px 150px 1fr;
  grid-template-areas: 'header' 'nav' 'carrusel';
    @include breakHeight(0,800px){
        grid-template-rows: 50px 100px 1fr;
    }
    @include break(0,599px){
      grid-template-rows: 80px  1fr;
      grid-template-areas: 'header'  'carrusel';
    }
}

